@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}
}

.logo {
	margin: 0 auto;
}

.menu {
	padding-right: 15px;

	&__list {
		display: flex;
	}

	&__list-item {
		padding-right: 45px;
		padding-left: 35px;
	}

	&__list-link {
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9033);
		line-height: 22px;
	}

	&__list-link--active {
		padding-bottom: 4px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			border-radius: 1px;
			background: rgba($title, .7);
		}
	}
}

.footer {
	&__content {
		background-color: #DFDFDF;
		padding: 60px 0 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;

	}

	&__info {
		width: 540px;
	}

	&__info-title {
		color: $title;
		@extend %title-font;
		margin-bottom: 14px;
		line-height: 21px;
	}

	&__info-text {
		margin-bottom: 16px;
		max-width: 475px;
	}

	&__form {
		display: flex;
	}

	&__form-input {
		padding: 6px 10px 6px 18px;
		border-radius: 21px;
		background-color: transparent;
		border: 1px solid rgba($title, .7);
		width: 100%;

		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400px;
			font-size: 16px;
			line-height: 27px;
			color: #a1a1a1;
		}
	}

	&__form-button {
		background-color: $title;
		border: none;
		color: #fffff0;
		border-radius: 21px;
		font-weight: 600;
		padding: 6px 12px;
		min-width: 160px;
		margin-left: 9px;
		cursor: pointer;
	}

	&__social {
		width: 125px;
		margin-right: auto;
		margin-left: 100px;
	}

	&__social-item,
	&__menu-item {
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 14px;
	}

	&__social-link,
	&__menu-link {
		color: #707070;
	}

	&__social-link {
		padding-left: 28px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 3px;
			width: 16px;
			height: 16px;
		}
	}

	&__social-link--facebook::before {
		background-image: url(../images/facebook.svg);
	}

	&__social-link--instagram::before {
		width: 14px;
		height: 14px;
		top: 4px;
		background-image: url(../images/instagram.svg);
	}

	&__social-link--pinterest::before {
		background-image: url(../images/pinterest.svg);
	}

	&__social-link--whatsapp::before {
		width: 14px;
		height: 14px;
		top: 4px;
		background-image: url(../images/whatsapp.svg);
	}

	&__social-link--youtube::before {
		width: 18px;
		height: 12px;
		top: 4px;
		background-image: url(../images/youtube.svg);
	}

	&__menu {
		margin-right: 60px;
		width: 125px;
	}

	&__copyright {
		background-color: $title;
		color: #A1A1A1;
		padding: 42px 0 41px;
		text-align: center;
	}
}

.rightside-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 694px;
	background-color: #fff;
	padding-top: 40px;
	box-shadow: -2px 3px 17px 0px #000;
	transition: all .6s;
	z-index: 5;

	&.rightside-menu--close {
		transform: translateX(500%)
	}

	&__close {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		margin-left: 50px;
		margin-bottom: 60px;
	}

	&__content {
		text-align: center;
		max-width: 485px;
		margin: 0 auto;
	}

	&__logo {
		display: inline-block;
		margin-bottom: 40px;
	}

	&__title {
		color: $title;
		@extend %title-font;
		font-size: 36px;
		line-height: 51px;
		position: relative;
		margin-bottom: 17px;
		padding-bottom: 17px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 252px;
			margin: 0 auto;
			background: #6D7278;
			height: 1px;
		}
	}

	&__text {
		margin-bottom: 75px;
	}

	&__images {
		max-width: 485px;
	}
}

.breadcrumbs {
	background: rgba(#DFDFDF, .5);
	padding: 13px 14px;
	position: relative;
	z-index: 999;

	&__list {
		display: flex;
	}

	&__item::after {
		content: '/';
		margin-left: -4px;
		margin-right: 4px;
	}

	&__item:last-child::after {
		display: none;
	}

	&__link {
		font-size: 14px;
		color: $default;
	}
}

.top {
	&__inner {
		padding-bottom: 70px;
		position: relative;

		&::after {
			content: '';
			background-image: url(../images/slider-bg.jpg);
			position: absolute;
			width: 100%;
			height: 722px;
			top: 0;
			z-index: -1;
		}
	}

	&__slider-item {
		display: flex !important;
		justify-content: center !important;
		align-items: center;
	}

	&__slider-img {
		margin-left: -14%;
		height: 815px;
		max-width: 703px;
		object-fit: cover;
	}

	&__slider-info {
		max-width: 645px;
	}

	&__slider-title {
		color: $title;
		font-size: 110px;
		line-height: 135px;
		padding-bottom: 26px;
		margin-bottom: 26px;
		position: relative;
		@extend %title-font;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 185px;
			background: #6d7278;
			height: 1px;
		}
	}

	&__slider-text {
		max-width: 585px;
	}
}

.new-collection {
	text-align: center;
	padding: 45px 0 35px;

	&__title {
		color: $title;
		font-size: 36px;
		line-height: 51px;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		@extend %title-font;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			width: 250px;
			height: 1px;
			bottom: 0;
			margin: 0 auto;
			background: #979797;
		}
	}

	&__text {
		margin-bottom: 30px;
		max-width: 730px;
		margin: 0 auto 30px;
	}
}

.collection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
	padding-bottom: 70px;

	&__item {
		position: relative;

		&:hover {
			.collection__info {
				opacity: 1;
				transition: .5s
			}
		}
	}

	&__images {
		min-height: 350px;
		object-fit: cover;
	}

	&__info {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#fff, .7);
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
	}

	&__info-title {
		font-size: 20px;
		line-height: 25px;
		color: $title;
		padding-bottom: 19px;
		margin-bottom: 19px;
		position: relative;
		@extend %title-font;

		&::after {
			content: '';
			bottom: 0;
			position: absolute;
			height: 1px;
			background-color: #6d7278;
			width: 80%;
			margin: 0 auto;
			left: 0;
			right: 0;
		}
	}

	&__info-text {
		font-weight: 600;
		font-size: 14px;
		color: #707070;
	}
}

.decor {
	padding: 170px 0 155px;
	background: url(../images/decor-bg.jpg) no-repeat;
	background-size: cover;

	&__title {
		width: 730px;
		color: $title;
		font-size: 60px;
		line-height: 80px;
		padding-bottom: 22px;
		margin-bottom: 22px;
		position: relative;
		@extend %title-font;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 200px;
			bottom: 0;
			background: #6d7278;
			height: 1px;
		}
	}

	&__text {
		width: 540px;
	}
}

.works-path {
	padding: 80px 0 30px;

	&__title {
		@extend %title-font;
		text-align: center;
		color: $title;
		font-size: 36px;
		line-height: 51px;
	}

	&__items-box {
		display: flex;
		border-bottom: 2px solid rgba(#363838, .7);
		position: relative;
		align-items: flex-end;

		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $title;
		}
	}

	&__item {
		width: 250px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		height: 100%;
	}

	&__item--production {
		margin-left: 317px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 20px;
			width: 2px;
			background: rgba($title, .7);
		}
	}

	&__item--consultation,
	&__item--production {
		padding-bottom: 38px;
	}

	&__item--measuring {
		padding-top: 38px;
		margin-left: 305px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 2px;
			background: rgba($title, .7);
		}
	}

	&__item-title {
		margin-left: 13px;
		color: $title;
		@extend %title-font;
	}

	&__item-text {
		margin-top: 13px;
	}
}

.gallery {
	padding: 80px 0 90px;

	&__buttons {
		text-align: center;
		margin-bottom: 40px;

	}

	&__btn {
		margin: 0 13px;
		background-color: transparent;
		border: 1px solid #454647;
		border-radius: 20px;
		padding: 6px 16px;
		color: #8F8D8D;
		font-size: 14px;
		font-weight: 600;
		cursor: pointer;
	}

	.mixitup-control-active {
		background-color: #FFEF35;
		color: $title;
		border: 1px solid #FFEF35;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 30px 35px;
	}

	&__item:first-child {
		grid-column: span 2;
		grid-row: span 2;
	}

	&__item-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		max-height: 1150px;
	}

	&.gallery-page {
		.gallery__item-img {
			max-height: 1165px;
		}

		.gallery__item:nth-child(8) {
			grid-column: span 2;
			grid-row: span 2;
		}
	}
}

.blog-box {
	padding-bottom: 100px;

	&__title {
		color: $title;
		@extend %title-font;
		font-size: 36px;
		line-height: 51px;
		margin: 0 auto 30px;
		text-align: center;
		max-width: 430px;
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}

	&__img-link {
		margin-bottom: 19px;
		display: inline-block;
	}

	&__links {
		margin-bottom: 9px;
		font-size: 14px;
		font-weight: 600;
		color: #707070;

	}

	&__date,
	&__author,
	&__theme {
		color: inherit;
	}

	&__item-title {
		color: $title;
		font-size: 24px;
		line-height: 38px;
		@extend %title-font;
	}
}

.about {
	&__prev {
		background: url(../images/about-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		text-align: center;
		padding: 160px 0;
		margin-top: -53px;
	}

	&__prev-title {
		color: $title;
		@extend %title-font;
		font-size: 60px;
		line-height: 80px;
	}

	&__content {
		padding: 130px 0 40px;
	}

	&__title {
		color: $title;
		@extend %title-font;
		font-size: 36px;
		line-height: 60px;
		padding-bottom: 22px;
		margin-bottom: 22px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 200px;
			background: #6D7278;
		}
	}

	&__text {
		padding-left: 284px;

		p {
			margin-bottom: 30px;
		}
	}

	&__popup {
		background: url(../images/popup-bg.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		min-height: 414px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.inspiration {
	padding-top: 100px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(../images/inspiration-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 331px;
		z-index: -1;
	}

	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__images {
		margin-right: 78px;
		margin-left: -230px;
	}

	&__title {
		font-size: 36px;
		line-height: 60px;
		color: $title;
		@extend %title-font;
		padding-bottom: 16px;
		margin-bottom: 24px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background: #6D7278;
			width: 200px;
			height: 1px;
		}
	}

	&__text {
		margin-bottom: 30px;
	}

	&__content {
		max-width: 825px;
	}

	&__item {
		color: $title;
		@extend %title-font;
		line-height: 23px;
		margin-bottom: 33px;
	}

	&__item-content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 14px;
		border-bottom: 2px solid #fff;
		border-radius: 4px;
	}

	&__line {
		height: 2px;
		border-radius: 4px;
		background-color: $title;
		margin-top: -2px;
	}
}

.partners {
	padding: 16px 0 60px;

	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	&__item {
		margin: 0 auto;
	}
}

.map {
	margin-top: -53px;
	margin-bottom: 50px;
}

.contact {
	padding-bottom: 100px;

	&__title {
		color: $title;
		@extend %title-font;
		font-size: 36px;
		line-height: 60px;
		padding-bottom: 30px;
		margin-bottom: 40px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			width: 200px;
			background: #6D7278;
		}
	}

	.contact__social {
		padding-left: 284px;
		display: flex;
		margin-bottom: 20px;
	}

	&__social-item+.contact__social-item {
		padding-left: 40px;
	}

	&__text {
		margin-bottom: 10px;
	}

	&__phone {
		color: $default;
	}

	&__city {
		margin-bottom: 16px;
	}

	&__box {
		padding-left: 284px;
	}

	&__form {
		padding-left: 284px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__form-input {
		border: 1px solid #DFDFDF;
		border-radius: 20px;
		padding: 6px 17px;
		margin-bottom: 13px;
		width: 48%;

		&::placeholder {
			color: #a1a1a1;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 27px;
			font-weight: 400;
		}
	}

	&__form-area {
		width: 100%;
		border: 1px solid #DFDFDF;
		border-radius: 24px;
		padding: 14px 17px;
		min-height: 125px;
		resize: none;
		margin-bottom: 20px;

		&::placeholder {
			color: #a1a1a1;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			line-height: 27px;
			font-weight: 400;
		}
	}

	&__form-btn {
		color: #FFF;
		border-radius: 21px;
		border: none;
		background-color: $title;
		font-weight: 600;
		padding: 6px 60px;
		cursor: pointer;
	}
}

.contact-slider {
	&__link {
		position: relative;
		&:hover {
			.contact-slider__title {
				opacity: 1;
			}
		}
	}
	&__img {
		width: 170px;
		height: 170px;
		object-fit: cover;
	}
	&__title {
		transition: all .5s;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(#fff, .7);
		color: $title;
		@extend %title-font;
		line-height: 22px;
		padding: 0 6px;
		text-align: center;
		opacity: 0;
	}
}