@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}

	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}
}

.logo {
	margin: 0 auto;
}

.menu {
	padding-right: 15px;

	&__list {
		display: flex;
	}

	&__list-item {
		padding-right: 45px;
		padding-left: 35px;
	}

	&__list-link {
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9033);
		line-height: 22px;
	}
}

.footer {
	&__content {
		background-color: #DFDFDF;
		padding: 60px 0 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;

	}

	&__info {
		width: 540px;
	}

	&__info-title {
		color: $title;
		@extend %title-font;
		margin-bottom: 14px;
		line-height: 21px;
	}

	&__info-text {
		margin-bottom: 16px;
		max-width: 475px;
	}

	&__info-email {
		font-weight: 600;
		color: $title;
		font-size: 14px;
		margin-bottom: 22px;
		padding-left: 30px;
		display: inline-block;
		position: relative;

		&::before {
			content: '';
			background-image: url(../images/envelope.svg);
			left: 0;
			top: 8px;
			width: 16px;
			height: 12px;
			position: absolute;
		}
	}

	&__form {
		display: flex;
	}

	&__form-input {
		padding: 6px 10px 6px 18px;
		border-radius: 21px;
		background-color: transparent;
		border: 1px solid rgba($title, .7);
		width: 100%;

		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400px;
			font-size: 16px;
			line-height: 27px;
			color: #a1a1a1;
		}
	}

	&__form-button {
		background-color: $title;
		border: none;
		color: #fffff0;
		border-radius: 21px;
		font-weight: 600;
		padding: 6px 12px;
		min-width: 160px;
		margin-left: 9px;
		cursor: pointer;
	}

	&__social {
		width: 125px;
		margin-right: auto;
		margin-left: 100px;
	}

	&__social-item,
	&__menu-item {
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 14px;
	}

	&__social-link,
	&__menu-link {
		color: #707070;
	}

	&__social-link {
		padding-left: 28px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 3px;
			width: 16px;
			height: 16px;
		}
	}

	&__social-link--facebook::before {
		background-image: url(../images/facebook.svg);
	}

	&__social-link--instagram::before {
		width: 14px;
		height: 14px;
		top: 4px;
		background-image: url(../images/instagram.svg);
	}

	&__social-link--pinterest::before {
		background-image: url(../images/pinterest.svg);
	}

	&__social-link--whatsapp::before {
		width: 14px;
		height: 14px;
		top: 4px;
		background-image: url(../images/whatsapp.svg);
	}

	&__social-link--youtube::before {
		width: 18px;
		height: 12px;
		top: 4px;
		background-image: url(../images/youtube.svg);
	}

	&__menu {
		margin-right: 60px;
		width: 125px;
	}

	&__copyright {
		background-color: $title;
		color: #A1A1A1;
		padding: 42px 0 41px;
		text-align: center;
	}
}

.rightside-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	max-width: 694px;
	background-color: #fff;
	padding-top: 40px;
	box-shadow: -2px 3px 17px 0px #000;
	transition: all .6s;

	&.rightside-menu--close {
		transform: translateX(500%)
	}

	&__close {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		margin-left: 50px;
		margin-bottom: 60px;
	}

	&__content {
		text-align: center;
		max-width: 485px;
		margin: 0 auto;
	}

	&__logo {
		display: inline-block;
		margin-bottom: 40px;
	}

	&__title {
		color: $title;
		@extend %title-font;
		font-size: 36px;
		line-height: 51px;
		position: relative;
		margin-bottom: 17px;
		padding-bottom: 17px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 252px;
			margin: 0 auto;
			background: #6D7278;
			height: 1px;
		}
	}

	&__text {
		margin-bottom: 75px;
	}

	&__images {
		max-width: 485px;
	}
}